*{
    margin: 0 auto;
}

h1{
    text-align: center;
    margin: 1%;
    font-size: 3rem;
}

img{
    width: 30%;
    margin-top: 4%;
    transition: 1s;
    display: flex; 
    align-items: center; 
}

