#cabecera-navegacion {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

#cabecera {
    flex: 1;
    text-align: left;
    overflow: hidden;
}

.cabecera__sesion {
    text-align: right;
}

.navegacion__menu {
    display: flex;
    justify-content: flex-end;
}

.navegacion__enlace {
    display: flex;
    place-items: center;
    justify-content: center; 
    min-width: 120px;
    height: 40px;
    margin-right: 10px;
    background-color: rgba(36,36,36,255);
    color: rgb(255, 255, 255);
    border: 1px solid white;
    border-radius: 5px;
    font-weight: bolder;
}

.navegacion__enlace:hover {
    background-color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
    color: rgba(36,36,36,255);
    transition: 0.4s;
} 