#cabecera-navegacion {
  background-color: #3498db; /* Azul claro */
  color: #fff;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 100;
}

#cabecera h1 {
  font-size: 1.8rem;
  margin: 0;
}

.navegacion__menu {
  display: flex;
  align-items: center;
}

.enlace_login, .enlace_cerrarsesion {
  color: #fff;
  text-decoration: none;
  padding: 8px 16px;
  border: 1px solid #fff;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.enlace_login:hover, .enlace_cerrarsesion:hover {
  background-color: #fff;
  color: #3498db;
}
