.navegacion__menu {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  background-color: #ecf0f1; /* Fondo claro */
  border-radius: 8px;
}

.navegacion__enlace {
  color: #2c3e50;
  text-decoration: none;
  padding: 8px 16px;
  border: 1px solid #3498db;
  border-radius: 5px;
  font-size: 1rem;
  transition: background-color 0.3s, color 0.3s;
}

.navegacion__enlace:hover {
  background-color: #3498db;
  color: #fff;
}
