h1{
    color: black;
}

h4{
    font-weight: normal;
}

p{
    color: black;
    cursor: pointer;
    /* He reciclado tanto este efecto como el del hover del del puzle :) */
    transition: transform 0.3s ease, text-shadow 0.3s ease;
}

p:hover {
    transform: scale(1.05);
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
}